@import '../../style/public';
#foot_guide {
	background-color: #fff;
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	box-shadow: 0 -0.026667rem 0.053333rem rgba(0,0,0,.1);
	@include set_width_height(100%, 1.95rem);
}
.guide_item {
	flex: 1;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	.icon_style {
		margin-top: .2rem;
		@include set_width_height(1rem, 1rem);
	}
	span {
		@include set_font_size_color(.45rem, #666);
	}
}